* {
    padding: 0;
    margin: 0;
    line-height: normal;

}

.app-body {
    overflow: hidden;
}

.header-content {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.vh-15 {
    height: 15%;
}

.vh-25 {
    height: 25%;
}

.h-35 {
    height: 35%;
}

.vh-50 {
    height: 50%;
}

.vh-40 {
    height: 40%;
}


.btn {
    background-color: #943A6F;
    color: white;
}

.btn:hover {
    background-color: #d179b5;
    color: white;
}

.bg-main {
    background-color: #943A6F;
    color: white;
}

.shadowx {
    box-shadow: 3px 3px 3px grey;
}

.h-65 {
    height: 65%;
}

.vh-70 {
    height: 70%;
}

.vh-75 {
    height: 75%;
}

.vh-95 {
    height: 95%;
}

.dis {
    pointer-events: none;
}

.nav-item:hover {
    cursor: pointer;
    background-color: rgba(154, 229, 248, 0.295);
    transition: .3s;
}

.fa-center {
    line-height: 100%;
    vertical-align: middle;
}

.active {
    background-color: white !important;
    color: black;
}

#map {
    height: 400px;
    width: 50%;

}

.searchBtn {
    background: rgb(255, 255, 255) padding-box;
    display: table-cell;
    border: 0px none;
    margin: 0px;
    padding: 0px 17px;
    text-transform: none;
    appearance: none;
    position: relative;
    user-select: none;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    min-width: 66px;
}

.gmnoprint :hover {
    z-index: 100000;
}

.searchBar {
    background: rgb(255, 255, 255) padding-box;
    border: 0px none;
    margin: 0px;
    padding: 0px 17px;
    text-transform: none;
    appearance: none;
    position: relative;
    user-select: none;
    overflow: hidden;
    text-align: center;
    height: 40px;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    min-width: 300px;
    border: none !important;
}

.mapAdds {
    float: left;
    position: relative;
    z-index: 0;
    border-radius: 0 !important;
}

.ratingContainer img {
    height: 30px;
}

.caro-item img {
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    background-size: cover;
}

.img-fit {
    background-size: cover;
    height: 48.5vh;
    background-position: center;
}


.btn-carousel-container {
    position: absolute;
    z-index: 15;
    bottom: 0;
    margin: 1vh;
}

#banner {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-item img {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30vh;
}

.big-font {
    font-size: 50px;
}


.card-1 {
    background: linear-gradient(154.49deg, #D093DA 6.61%, #4B88DA 89.72%);
    box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
    border-radius: 24px;
}

.card-2 {
    background: linear-gradient(154.49deg, #FF858A 6.61%, #E140EF 89.72%);
    box-shadow: 0px 8px 22px -2px rgba(248, 87, 94, 0.3);
    border-radius: 24px;
}

.card-3 {
    background: linear-gradient(154.49deg, #FFD085 6.61%, #E993FF 89.72%);
    box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
    border-radius: 24px;
}

.card-4 {
    background: linear-gradient(154.49deg, #DE5CFE 6.61%, #217BF4 89.72%);
    box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
    border-radius: 24px;
}

.card-5 {
    background: linear-gradient(154.49deg, #F585FF 6.61%, #F04148 89.72%);
    box-shadow: 0px 8px 22px -2px rgba(248, 87, 94, 0.3);
    border-radius: 24px;
}

.card-6 {
    background: linear-gradient(154.49deg, #FFD085 6.61%, #FF2EEA 89.72%);
    box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
    border-radius: 24px;
}


.card-ico {
    position: absolute;
    top: 0;
    bottom: 0;
}


.section-features{
    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 12.91%, #FFFFFF 27.13%, #FDF1FB 41.35%, #FFFFFF 65.64%);
}


.bg-section-4{
    background: linear-gradient(180deg, rgba(252, 241, 252, 0) 0%, #FCF1FC 100%);
}

.profile-circle{
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.dotted-border{
    border-style:dotted;
    border-color: #943A6F;
    border-width: 4px;
}